* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


body {
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

/* header section style start */

header {
    align-items: center;
    height: 646px;
    width: 1321px;
    background-color: black;
    margin-top: 3%;
    margin-left: 8%;
    margin-right: 10%;
    border: 1px solid black;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center
}

h1 {
    font-size: 70px;
    color: aliceblue;
}

.header-a {
    padding-left: 10%;
    /* padding-top: 10%; */
    color: aliceblue;
    padding-right: 5%;
}

header p {
    margin-bottom: 5%;
}

.link-button {
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    border-radius: 5px;
    font-weight: 900;
    color: white;
}



.header-img {

    height: 645px;
    padding-top: 50px;
    padding-left: 5%;
    transition: 1s;
    animation: header 3s linear infinite;

}
.active{

        background-image: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
              color: white;
  
}


@keyframes header {
    0% {
        margin-left: 0;
    }

    50% {
        margin-left: -10px;
        transition: 0.5s;
    }

    100% {
        margin-left: 0;
    }
}


/* header section style start */

/* menu section style start */
.menu {
    display: grid;
    grid-template-columns: 25% 75%;
    margin-top: 3%;
    margin-left: 8%;
    margin-right: 10%;



}

/* aside section style start  */
aside {
    height: 312px;
    width: 310px;
    background-color: rgb(12, 12, 12);
    border: 1px;
    border-radius: 10px;
    color: white;
    margin-left: auto;
    margin-right: auto;

}

ul {
    list-style: none;
    margin-left: 10%;
    margin-right: auto;
    margin-bottom: 10%;
    padding-top: 10%;
    text-align: center;
}

li {
    border: 1px solid white;
    background-color: white;
    border-radius: 10px;
    width: 250px;
    height: 60px;
    margin-bottom: 30px;
    font-weight: 1000;
    padding-top: 10px;

}

li a {
    color: rgb(8, 8, 8);
    font-size: 2em;


}

li:hover {
    background-color: #FBA24F;


}


/* aside section style end  */

.menu-button {

    border: 1px solid white;
    border-radius: 5px;
    justify-content: center;
    background-color: white;
    text-align: center;
    font-weight: 1000;
    font-size: 30px;


}

a {
    text-decoration: none;
}



.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding-left: 0px;
    margin-left: 20px;
    margin-right: 10%;
}

.item-a {
    border: 1px solid silver;
    border-radius: 10px;
    width: 313px;
    height: 362px;


}

.item {

    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
}


.button {
    margin-top: 5px;
    text-decoration: none;
    border: 1px solid rgb(44, 44, 44);
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;

}

h3 {
    margin-top: 15px;
}

.icon {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 5px;
    margin-top: 20px;
}

.view-btn {
    margin: 20px, auto;
    display: none;
}

.btn {
    background-image: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    padding: 12px 20px;
    border-radius: 5px;
    color: white;
}

/* menu section style end */

/* footer style start */
.footer {
    width: 100%;
    height: 444px;
    background-color: rgb(21, 21, 22);
    margin-top: 80px;
    justify-content: center;
    text-align: center;
    padding-top: 5%;
}

.footer-menu {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: space-evenly;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    padding-top: 20px;
}

.footer-text {
    color: white;
}

footer hr {
    width: 80%;
    border: none;
    margin: auto;
    border-top: 0.5px gray solid;
}

.social-icon {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 200px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

.fa-brands {
    color: aliceblue;
}

/* footer style start */

/* website-2 menu style start  */
.flag-menu {
    display: grid;
    grid-template-columns: 25%, 75%;
    grid-template-columns: 25% 75%;
    margin-top: 8%;
    margin-left: 8%;
    margin-right: 10%;
}

.container-a {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-left: 15px;
    margin-right: 10%;

}

.flag-a {
    border: 1px solid silver;
    border-radius: 10px;
    width: 312px;
    height: 242px;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    justify-content: center;
    text-align: center;
}

h2 {
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.flag {
    display: grid;
    grid-template-columns: repeat(3, 1fr)
}

/* website-2 menu style end  */

/* tab view style start */
@media (min-width: 580px) and (max-width: 850px) {
    header {
        width: 80%;
        height: 350px;
        margin-left: auto;
        margin-right: auto;

    }

    .header-a {
        padding-left: 10%;
        color: aliceblue;
        padding-right: 5%;

    }

    h1 {
        font-size: 40px;
        color: aliceblue;
    }

    .header-img {

        height: 278px;
        width: auto;
        padding-top: 50px;
        padding-left: 25%;
        transition: 1s;
        animation: header 3s linear infinite;


    }

    .view-btn {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;

    }

    .btn {
        text-align: center;


    }

    aside {
        background-color: white;
        border-radius: 10px;
        color: rgb(255, 254, 254);
        margin-left: auto;
        margin-right: auto;
        width: unset;
        height: unset;
    }

    ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin: auto;
    }

    li {
        border: 1px solid grey;
        background-color: white;
        border-radius: 10px;
        width: 180px;
        font-weight: 100%;
        padding-top: 10px;

    }

    li a {
        color: rgb(8, 8, 8);
        font-size: 20px;
    }

    li:hover {
        background-color: #5730e3;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        padding-left: auto;
        padding-right: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }



    .menu {
        display: grid;
        grid-template-columns: auto;
        margin-top: 3%;
        margin-left: auto;
        margin-right: auto;
    }

    footer {
        width: 100%;

    }

    .social-icon {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 200px;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
    }
}


/* tab view style end */

/* mobile view style start */
@media (min-width: 80px) and (max-width: 579px) {
    header {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: auto;
        height: auto;
        margin: 5%, 5%;
        text-align: center;

    }

    .header-a {

        padding-top: 10%;
        padding-left: 5%;

        color: aliceblue;
        padding-right: 5%;
    }

    h1 {
        font-size: 30px;
        color: aliceblue;
    }

    .header-img {

        height: auto;
        width: 200px;
        padding-top: 50px;
        transition: 1s;
        animation: header 3s linear infinite;


    }

    .view-btn {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        justify-content: center;
        align-items: center;
    }

    .btn {
        text-align: center;


    }

    aside {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        height: auto;
        width: auto;
        background-color: white;
        border-radius: 10px;
        color: rgb(255, 254, 254);

    }

    ul {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 5px;
        list-style: none;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1px;
        text-align: center;
    }

    li {
        border: 1px solid grey;
        background-color: white;
        border-radius: 10px;
        width: 289px;
        font-weight: 100%;
        padding-top: 10px;

    }

    li a {
        color: rgb(8, 8, 8);
        font-size: 25px;


    }

    li:hover {
        background-color: #5730e3;


    }

    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
        padding-left: auto;
        padding-right: auto;
        margin-left: 7%;
        margin-right: 5%;
        margin-top: 20px;
    }



    .menu {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0px;
        margin-top: 0%;
        margin-left: 0%;
        margin-right: 0%;
    }

    footer {
        width: 100%;

    }

    footer h1 {
        margin-top: 20px;
    }

    footer hr {
        margin-top: 20px;
    }

    .footer-menu {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .social-icon {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 200px;
        margin-top: 8%;
        margin-left: auto;
        margin-right: auto;
    }
}


/* mobile view style end */